
.rightsidebar-theme1 {

    .inner-wrapper{
        border-bottom: 1px solid #cccccc;
        padding: 15px 0;
    }

    .header-text {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .content-text {
        font-size: 15px;
        font-weight: 700;
    }

    .content-missing {
        font-size: 13px;
        font-style: italic;
    }
}
